*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: white;
}
#bot{
    text-align: center;
    color: white;
    margin: 10px;
}
#bot:hover{
    background-color: white;
    color: #343a40;
    border-radius: 10px;
    transition-duration: 0.3s;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}